aniso8601==9.0.1
asn1crypto==1.0.1
attrs==21.4.0
beautifulsoup4==4.10.0
black==22.1.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
cloudscraper==1.2.58
colorama==0.4.4
configparser==5.2.0
crayons==0.4.0
cryptography==36.0.1
Flask==2.0.3
flask-restx==0.5.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
jsonschema==4.4.0
MarkupSafe==2.1.0
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.1
pycparser==2.19
pyOpenSSL==19.0.0
pyparsing==3.0.7
pyrsistent==0.18.1
PySocks==1.7.1
python-dotenv==0.19.2
pytz==2021.3
requests==2.27.1
requests-toolbelt==0.9.1
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.31
tomli==2.0.1
tqdm==4.36.1
typing_extensions==4.1.1
urllib3==1.26.8
webdriver-manager==3.5.3
Werkzeug==2.0.3
win-inet-pton==1.1.0
wincertstore==0.2
